body{
    text-align: center;
}



.show{
    background-color:cornsilk;
}
.row{
    margin-top:50px;
    min-height:50px;
    justify-content: space-between;
}

.image{
    width: 500px;
    height:auto;
   
}