body{
    text-align:center;
    
}



.show{
    background-color:cornsilk;
}
/*.row{
    margin-top:50px;
    min-height:50px;
    justify-content: space-between;
}*/

.image{
    width: 500px;
    height:auto;
   
}

.slide-image{
    width: 20%; 
    height: auto; 
    max-width: 200px; 
}

.recommendation-container {
    margin-bottom: 10px; 
    border: 1px solid #ddd;
    padding: 10px;
}